@model ProHeroWeb.Models.Charity

@{
    ViewData["Title"] = "AddCharity";
}

<h1>AddCharity</h1>

<h4>Charity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCharity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organizer" class="control-label"></label>
                <input asp-for="Organizer" class="form-control" />
                <span asp-validation-for="Organizer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmallDescription" class="control-label"></label>
                <input asp-for="SmallDescription" class="form-control" />
                <span asp-validation-for="SmallDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LargeDescription" class="control-label"></label>
                <input asp-for="LargeDescription" class="form-control" />
                <span asp-validation-for="LargeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationPlan" class="control-label"></label>
                <input asp-for="DonationPlan" class="form-control" />
                <span asp-validation-for="DonationPlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


