.wrapper {
    padding: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cart-page {
    margin: 80px auto;
    width: 80%;
    text-align: left
}

.charity-name::after {
    content: "\a";
    white-space: pre;
}

.country-text {
    font-weight: bold;
}

.border-page {
    padding: 12px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #808080;
    color: white;
    background-color: #C13F13;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 5px;
    background-color: #E95420;
    font-weight: normal;
    text-transform: uppercase;
}

td {
    padding: 10px 5px;
}

table tr {
    border-bottom: 2px solid #E95420;
}

table tr:last-child {
    border-bottom: none;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px
}

td a {
    display: inline-block;
    padding: 8px 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff6a00;
    border: none;
    border-radius: 15px;
}

td a:hover {
    background-color: #A84420;
}

td a:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

td .remove-button {
    position: relative;
    top: 5px;
    font-size: 15px;
}

td .remove-button:hover {
    box-shadow: none;
    color: black;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #E95420;
    width: 100%;
    max-width: 200px;

}

td:last-child {
    text-align: right;
}

#submitTitle {
    position: relative; top: -30px;
}

