*, body {
    margin: 0;
    padding: 0;
}

.charity-menu {
    position: fixed; bottom: 85px;
    left: 0;
    padding: 10px;
    animation: widthAnim 0.5s;
    width: 500px;
    height: 83vh;
    overflow-y: auto;
    color: white;
    background-color: #E95420;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 20px #808080
}

.charity-name {
    color: orange;
}

.charity-menu .charity-item {
    padding: 16px;
    animation: fadeIn 1s;
}

.charity-menu .charity-item:hover{
    background-color: #C13F13;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#loading-body {
    position: relative; top: 250px; left: 140px;
    padding: 80px;
    border: 16px solid rgba(0, 0, 0, .5);
    border-radius: 50%;
    border-top: 16px solid #C13F13;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.emergency-display {
    position: center;
    width: 665px
}

.modal-dialog {
    width: 700px;
    max-width: 100%;
    height: 550px;
}

.modal-content {
    overflow-y: scroll;
    overflow-x: hidden;
}

.progress {
    position: relative; bottom: 5px;
}

.donate-input {
    border-radius: 10px;
    width: 130px;
}

.bi {
    position: relative; right: 10px;
}

.input-group-text {
    position: relative;
    right: 15px;
}
.form-control {
    position: relative;
    right: 15px;
}

.donate-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff6a00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

.donate-button:hover {
    background-color: #A84420
}

.donate-button:active {
    background-color: #A84420;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.content-description {
    padding: 20px;
}

.more-content {
    position: absolute; left: 800px; top: 150px;
}

svg path {
    fill: #00394f;
    stroke: #eee;
    stroke-width: .25;
}

svg {
    position: fixed; bottom: 50px;
    transform: scale(0.8);
}

.for-chart {
    position: fixed; top: 180px;
    width: 850px;
}

.nav-pills {
    position: relative;
    left: 350px;
    bottom: 30px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: #964B00;
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes widthAnim {
    from {
        width: 100px;
    }

    to {
        width: 500px;
    }
}
